#image-sprectrum{width:500px;
  width:500px;}
  
#img-1-label{position:absolute;
  display:inline;
  right:10px;;
  top:540px;}

#para-1{position:relative;
left:15px;}

.paragraphs{margin-left:15px;
  text-align:center;}
    
.headings{text-align:center;}

.colored-text-green{color:lime;}

.colored-text-red{color:crimson;}

.colored-text-blue{color:blue;}

.colored-text-purple{color:purple;}

.colored-text-cyan{color:cyan;}

.colored-text-para-1{display:inline;}

#heading-2 {
  padding-top: 20px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
}


.navbar-brand {
  font-size: 2rem;
  font-style: oblique;
  color: white !important;
}

.nav-link {
  color: white;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
